.menu-wrapper {
  z-index: 1000;
  background-color: white;
  width: fit-content;
  height: 5vh;
  padding-left: 2vw
}

.genre-button {
  color: white;
  z-index: 12;
}

.genre-menu {
  color:white;
}