.scroll-movies{
  display: grid;
  grid-template-rows: 45vh auto;
}

.movies-genres {
  overflow: hidden;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(16, 50vh);
  row-gap: 5vh;
  padding-top: 20vh;
  background-color: #151515;
  color: white;
  padding: 1% 5% 5% 5%;
}

.genre {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 90vw;
}

.genre-name {
  font-size: 2vw;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-cards {
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: scroll;
  align-items: center;
  scroll-behavior: smooth;
  /* -webkit-overflow-scrolling: touch;
  touch-action: pan-y; */
}

.genre-row {
  margin: 0;
  padding: 0;
}

.leftScroll, .rightScroll {
  padding: 2vh 0 2vh 0;
  display: flex;
  align-self: center;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.6s ease;
}

.leftScroll:hover, .rightScroll:hover {
  color: red;
}