.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
}

h1{
  font-size: 5vh;
}

button {
  display: block;
  border: none;
  height: 70%;
  width: 80%;
  background-color: black;
  color: white;
}