.card {
  flex: 0 0 auto;
  height: auto;
  width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  background-color: #151515;
  text-align: center;
}

.card:hover .hidden{
  transform: scale(1.1, 1.1);
  display: block;
}

.cardImg {
  height: auto;
  width: 90%;
}

.cardImg:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  z-index: 11;
}

.cardInfo {
  position: relative;
  z-index: 1;
  width: 0; 
  height: 0; 
  border-left: 9vh solid transparent;
  border-right: 9vh solid transparent;
  border-top: 3vh solid #f2c72e;
  opacity: 75%;
}

.hidden {
  display: none;
}


.card-rating {
  font-size: 2vh;
  position: relative;
  color: white;
  z-index: 5;
  margin: -1vh;
  text-decoration: none;
}

.ratingOverlay {
  position: relative;

}