.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151515;
}

img {
  height: 60%;
  width: 90%;
}

.info {
  height: 40%;
  width: 100%
}

.title {
  font-size: 2vh;
}

.date {
  font-size: 1vh;
}

.rating {
  font-size: 2vh;
}

button {
  padding: 0;
}