.card {
  flex: 0 0 auto;
  height: auto;
  width: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151515;
  text-align: center;
  text-decoration: none;
}

.card:hover .hidden{
  transform: scale(1.1, 1.1);
  display: block;
}

.cardImg {
  height: auto;
  z-index: 2;
  width: 90%;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 3px -3px 4px black;
  -moz-box-shadow: 2px 2px 3px 4px black;  
  box-shadow: 0 0 36px 10px rgb(0 0 0 / 30%);
}

.cardImg:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  z-index: 11;
  border-radius: 4px;
}

.cardInfo {
  position: relative;
  z-index: 1;
  width: 0; 
  height: 0; 
  border-left: 9vh solid transparent;
  border-right: 9vh solid transparent;
  border-top: 3vh solid #f2c72e;
  opacity: 75%;
  margin: 3vh;
}

.hidden {
  display: none;
}

.card-rating {
  font-size: 2vh;
  position: relative;
  color: white;
  z-index: 5;
  margin: -3vh;
  text-decoration: none;
  font-size: 1.5vw;
}

.ratingOverlay {
  position: relative;
}