.search-bar {
  color: white;
  width: 20vw;
  align-items: baseline;
  display: flex;
  height: 100%;
  position: absolute;
  right: 2vw;
}

.search-input {
  background-color: white;
  opacity: 30%;
  height: 5vh;
  width: 100%;
  padding-left: 2vw;
}

.search-input:focus-within {
  border: 2px solid red;
  opacity: 80%;
}

.search-icon {
  position: absolute;
  top: 1vh;
}