.featured-movie {
  margin: 0;
  padding: 0;
  display: absolute;
  top: 5%;
  height: 60vh;
  width: 100vw;
  object-fit: fill;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 8px 6px -6px black;
}

.featured-backdrop {
  /* position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  z-index: 50%; */
  position: relative;
  height: 50vh;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.featured-info {
  /* position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom,#181818,transparent 50%);
   */
   position: absolute;
   height: 50vh;
   width: 100%;
   background: linear-gradient(to top,#181818,transparent 50%);
   color: white;
   display: grid;
   grid-template-columns: 60% 40%;
}

.featured-banner-info-title {
  position: relative;
  margin: 2vh;
  bottom: 5vh;
  color: white;
  align-items: flex-start;
  justify-content: flex-end;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% 50%;
}

/* .featured-banner-info-rating {
  display: relative;
  padding-right: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
} */

.more {
  position: fixed;
  top: 15vh;
  right: 10vh;
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  color: white;
  background-color: black;
  z-index: 100;
}

.more:hover {
  cursor: pointer;
  transform: scale(2, 2)
}

.featured-title, .featured-tagline, .featured-rating {
  margin: 0;
  padding: 0;
}

.featured-title {
  font-size: 8vw;
}

.featured-rating {
  font-size: 4vw;
}

.featured-banner-info {
  padding-left: 5vw;
  padding-right: 5vw;
}

.genresList {
  color: white;
}