.featured-movie {
  margin: 0;
  padding: 0;
  display: absolute;
  top: 5%;
  height: 100%;
  width: 100vw;
  box-shadow: 0 8px 6px -6px black;
  width: 100%;
}

.featured-backdrop {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 2;
}

.featured-info {
  position: relative;
  margin-top: -50vh;
  height: 45vh;
  width: 100%;
  background: linear-gradient(to top,#181818,transparent 20%);
  color: white;
  display: grid;
  grid-template-rows: 60% 40%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.featured-info-wrap {
  bottom: 5vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 5;
}


.more {
  border-radius: 4%;
  background-color: black;
  opacity: 50%;
  align-items: center;
  border: none;
  text-decoration: none;
  color: white;
  display: flex;
  padding: .5vw;
  margin: 0;
}

.more:hover {
  cursor: pointer;
  transform: scale(2, 2)
}

.featured-title, .featured-tagline, .featured-rating, .featured-genres-list {
  padding: 0;
  z-index: 3;
  margin: 0;
}

.featured-title {
  font-size: 4vw;
}

.featured-rating {
  font-size: 2vw;
}

.featured-genre {
  color: white;
}

.more-text {
  padding: 0;
  margin: 0;
}
.fill {
  background: linear-gradient(to top,#181818,transparent 50%);
}
